<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>

<div id="app">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">SPA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <router-link class="nav-link" to="/foo">Go to Foo</router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" to="/bar">Go to Bar</router-link>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <router-view></router-view>
    </div>
</div>

<script>
  const Foo = {
    template: '<div>' +
    '<h1>Foo Page</h1>' +
    '<p>{{message}}</p>' +
    '<ul id="example-1">' +
    '<li v-for="item in list">' +
    '{{ item.id }}, {{ item.title }}, {{ item.price }}' +
    '</li>' +
    '</ul>' +
    '<button class="btn btn-primary" v-on:click="refreshMessage">Получить данные</button>' +
    '</div>',
    data: function () {
      return {
        message: 'Здесь будут данные',
        list: [{id: 1, title: 'test1', price: 100}]
      }
    },
    methods: {
      refreshMessage: function (event) {
        const self = this;
        axios.get('/index.php')
            .then(function (response) {
              console.log(response);
              self.list.push(response.data);
            })
            .catch(function (error) {
              console.log(error);
            });
      }
    }
  };

  const Bar = {
    template: '<div>' +
    '<h1>Bar Page</h1>' +
    '<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">' +
    'Открыть модульное окно'+
    '</button>' +
    '<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby = "exampleModalLabel" aria-hidden = "true" >' +
    '<div class="modal-dialog" role="document">' +
    '<div class="modal-content">' +
    '<div class="modal-header">' +
    '<h5 class="modal-title" id="exampleModalLabel">Модульное окно</h5>' +
    '<button type="button" class="close" data-dismiss="modal" aria-label="Close">' +
    '<span aria-hidden="true">&times;</span>' +
    '</button>' +
    '</div>' +
    '<div class="modal-body">' +
    '<form>' +
    '<div class="form-group">' +
    '<label for="exampleInput1">ID</label>' +
    '<input name="id" v-model="id" type="text" class="form-control" id="exampleInput1" aria-describedby="emailHelp" placeholder="id">' +
    '</div>' +
    '<div class="form-group">' +
    '<label for="exampleInput2">Title</label>' +
    '<input name="title" v-model="title" type="text" class="form-control" id="exampleInput2" aria-describedby="emailHelp" placeholder="title">' +
    '</div>' +
    '<div class="form-group">' +
    '<label for="exampleInput3">Price</label>' +
    '<input name="price" v-model="price" type="text" class="form-control" id="exampleInput3" aria-describedby="emailHelp" placeholder="price">' +
    '</div>' +
    '</form>' +
    '</div>' +
    '<div class="modal-footer">' +
    '<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>' +
    '<button type="button" class="btn btn-primary" v-on:click="updateMessage">Обновить</button>' +
    '</div>' +
    '</div>' +
    '</div>' +
    '</div>' +
    '</div>',
    data: function () {
      return {
        id: null,
        title: null,
        price: null
      }
    },
    methods: {
      updateMessage: function (event) {
        const self = this;
        axios.post('/index.php', {
          id: self.id,
          title: self.title,
          price: self.price
        }).then(function (response) {
          console.log(response);
        }).catch(function (error) {
          console.log(error);
        });
      }
    }
  };

  const routes = [
    { path: '/', component: Foo },
    { path: '/foo', component: Foo },
    { path: '/bar', component: Bar }
  ];

  const router = new VueRouter({
    routes: routes
  });

  const app = new Vue({
    el:'#app',
    router: router,
  });

</script>

</body>
</html>